#body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  margin-top: 100px;
  font-size: 50px;
}

#selecet-area {
  margin: 50px;
}

.alphabet {
  font-size: 60px;
  border: solid 1px black;
  width: 200px;
}
.vs {
  font-size: 30px;
  position: relative;
  top: 25px;
}

#login-area {
  margin: 20px;
}

#start-button {
  background-color: gray;
}

button {
  margin: 20px;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-outline:active {
  transform: scale(1.5);
}
.w-btn-outline:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn-indigo-outline {
  border: 3px solid aliceblue;
  color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}
